@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

html{
    box-sizing: border-box;
}
*,*::after,*::before{
    box-sizing: inherit;

}
body{
    padding: 0;
    margin: 0;
    font-family: 'Alata', sans-serif; 
}

/* navbar - hero */
.navbar-hero{
    height: 95vh;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(images/desktop/image-hero.jpg);
    background-position: center;
    background-size: cover;
    
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: 120px;
    align-items: center;
    position: relative;
    
}
.logo{
  z-index: 51;
}
.desktop-menu{
    display: flex;
    list-style: none;
    
}
.desktop-menu li {
    padding: 0 1rem;
    color: white;
    cursor: pointer;
    position: relative;
}
.content{
    font-size: 1.7rem;
    width: 40%;
    border: 2px solid #fff;
    padding: 0 2rem;
    color: #fff;
    font-weight: 300;
    line-height: 3.75rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    transform: translate(170px,100px);
}
.content h1{
    width: 15ch;
    
}
.hamburguer{
  z-index: 51;
}

.desktop-menu > li::after{
  display: block;
  content: '';
  width: 0;
  height: 2px;
  background: white;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -25%;
  transition: 500ms ease-in-out;
}

.desktop-menu > li:hover::after{
  width: 50%;
}
.mobile-drop{
  display: grid;
  align-items: center;
  position: absolute;
  top: 0;
  background-color: black;
  width: 0;
  height: calc(100vh + 120px);
  color: #fff;
  z-index: 50;
  transition: 300ms ease-in-out;
}
.mobile-menu{
  list-style: none;
  font-size: 2rem;
  
}
.mobile-menu{
  display: block;
  list-style: none;
  font-size: 2rem;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  z-index: 0;
  transition: 300ms ease-in-out;
  opacity: 0;
}
.mobile-menu li{
  padding: 1rem 0;
  cursor: pointer;
  transition: 300ms ease-in-out;
}
.mobile-menu li:hover{
  text-shadow: 0 0 30px #fff;
}

#m-menu:checked + .mobile-drop{
  
  width: 100%;
}
#m-menu:checked + .mobile-drop .mobile-menu{
  display: block;
  opacity: 1;
}



/* navbar - hero */

/* showcase-1 */

main{
  padding: 4.5rem 8.25rem;
}

.showcase{
  position: relative;
  display: flex;
  margin-bottom: 6rem;
}
.showcase .right{
  color:black;
}
.showcase .right h1{
  font-size: 2.7rem;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  opacity: 0.9;
  margin-bottom:0.5rem ;
}
.showcase .right p{
  color: hsl(0, 0%, 55%);
  line-height: 1.45rem;
  font-size: 0.9rem;
}

/* showcase-1 */

/* portfolio */

.portfolio{
  padding: 2.5rem 0;
}
.portfolio header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
.portfolio header .left{
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}
.portfolio header .right{
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 3px;
  border: 1px solid black;
  padding: 0.5rem 2.2rem;
  color: black;
  text-decoration: none;
  transition: 200ms ease-in-out;
}
.portfolio header .right:hover {
  color: white;
  background-color: black;
  cursor: pointer;
}

.portfolio .grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(255px,1fr));
  grid-gap: 20px;
  
}

/* grid */

.grid > .imagenes{
  position: relative;
  padding: 8.4rem 2rem;
  height: 450px;
  width: 100%;
  background-repeat: no-repeat;
  margin: 0;
  background-size: cover;
  overflow: hidden;
}

.imagenes:nth-child(1){
  background-image: url(images/desktop/image-deep-earth.jpg);
  
}
.imagenes:nth-child(2){
  background-image: url(images/desktop/image-night-arcade.jpg);
}
.imagenes:nth-child(3){
  background-image: url(images/desktop/image-soccer-team.jpg);
}
.imagenes:nth-child(4){
  background-image: url(images/desktop/image-grid.jpg) ;
}
.imagenes:nth-child(5){
  background-image: url(images/desktop/image-from-above.jpg) ;
}
.imagenes:nth-child(6){
  background-image: url(images/desktop/image-pocket-borealis.jpg) ;
}
.imagenes:nth-child(7){
  background-image: url(images/desktop/image-curiosity.jpg) ;
}
.imagenes:nth-child(8){
  background-image: url(images/desktop/image-fisheye.jpg) ;
}

figure > * {
  position: absolute;
  color: hsla(0, 0%, 100%);
  font-size: 2rem;
  bottom: 25px;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  transition: all 0.6s ease-in-out;
  z-index: 99;
}
.imagenes::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background: linear-gradient(to bottom, hsla(0, 0%, 0%, 0.6),hsla(0, 0%, 0%, 0));
  
  
}
 .imagenes::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-image: linear-gradient(to top, hsla(0, 22%, 90%, 0.87),hsla(0, 15%, 72%, 0.4));
  transition: all 0.3s ease;
  
} 

.imagenes:hover::after{
  height: 100%;
  cursor: pointer;
}

 /* .imagenes:hover::before{
  
  background-image: linear-gradient(to top, hsla(0, 17%, 80%, 0.4),hsla(0, 15%, 72%, 0.9));
  cursor: pointer;
}  */
.imagenes:hover figcaption, .imagenes:hover p {
  color: black;
}


/* grid */
/* portfolio */



/* footer */
footer{
  background-color: black;
  height: 180px;
  width: 100%;
}
.upper{
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 8.25rem;
  padding-bottom: 0;
  grid-area: up;
}
.social-media-icons  {
    grid-area: bottom;
  }
.social-media-icons ul {
    list-style: none;
    display: flex;
  }
  .sr-only {
    display: none;
  }
  
  .social-media-icons ul li {
    padding: 0 0.4rem;
  }
  .social-media-icons ul li a {
    color: var(--darkgrayvio);
  }
  .social-media-icons ul li a i {
    transition: 300ms ease;
    color: white;
  }
  
  .fa-twitter-square:hover {
    color: hsl(210, 82%, 64%);
  }
  .fa-facebook-square:hover {
    color: hsl(210, 87%, 49%);
  }
  .fa-instagram:hover {
    color: hsl(37, 89%, 58%);
  }
  .fa-pinterest-square:hover {
    color: rgb(216, 76, 76);
  }
.social-media-icons ul {
    list-style: none;
    display: flex;
    padding-left: 0;
  }
  .sr-only {
    display: none;
  }

  .social-media-icons ul li {
    padding: 0 0.4rem;
  }
  .down {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 8.25rem;
    grid-area: middle;
  }
  .down .right p{
    color: hsl(0, 0%, 55%);
  }
  
  .desktop-footer{
    display: flex;
    align-items: center;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    
  }
  .desktop-footer li{
    padding: 0 1rem;
    position: relative;
  }
  .desktop-footer > li::after{
    display: block;
    content: '';
    width: 0;
    height: 2px;
    background: white;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -25%;
    transition: 500ms ease-in-out;
  }
  
  .desktop-footer > li:hover::after{
    width: 50%;
  }

  .desktop-footer {
    margin-left: -1rem;
  }
  /* footer */
  
  /* utilities */
.dis-none{
    display: none;
}
.card{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 45%;
  right: -60px;
  min-height: 250px;
  width: 610px;
  padding: 40px 5.25rem;
  z-index: 100;
  justify-self: flex-end;
  background-color: white;
}

@media (max-width:1056px){
  .content{
    font-size: 1.7rem;
    width: 70%;
    
    border: 2px solid #fff;
    padding: 0 2rem;
    color: #fff;
    font-weight: 300;
    line-height: 3.75rem;
    text-transform: uppercase;
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    transform: translate(170px,100px);
}
.content h1{
    width: 100%;
    
}
}
@media (max-width:768px){
  /* navbar - hero */
.navbar-hero{
  height: 100vh;
  background-position: center;
  background-size: 160% 100%;
  background-repeat: no-repeat;
}
nav{
  padding: 0 1.5rem;
  justify-content: space-between;
}
.desktop-menu{
  display: none;
  
}

.content{
  font-size: 1.7rem;
  width: 90%;
  max-width: none;
  border: 2px solid #fff;
  padding: 0 1rem;
  color: #fff;
  font-weight: 300;
  line-height: 3.75rem;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  margin:  2rem auto;
  transform: translate(0,0);
}
.content h1{
  width: 10ch;
  
}

.icon-menu{
  display: flex;
}

/* navbar - hero */

/* showcase-1 */

main{
  padding: 1rem;
}

.showcase{
  
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.showcase .left img {
  width: 100%;
  padding: 1rem 0;
}
.showcase .right{
  color:black;
}
.showcase .right h1{
  text-align: center;
  font-size: 2.7rem;
  width: 100%;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  opacity: 0.9;
  margin-bottom:0.5rem ;
}
.showcase .right p{
  text-align: center;
  color: hsl(0, 0%, 55%);
  line-height: 1.45rem;
  font-size: 0.9rem;
}
.card{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  min-height: 100%;
  width: 100%;
  padding: 40px 1.25rem;
  z-index: 100;

}

/* showcase-1 */

/* portfolio */

.portfolio{
  
  width: 100%;
}
.portfolio header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
}
.portfolio header .right{
  display: none;
}
.portfolio header .left{
  font-size: 3rem;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
}


.portfolio .grid{
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(255px,1fr));
  grid-gap: 20px;
  width: 100%;
}

/* grid */

.grid > .imagenes{
  position: relative;
  padding: 5rem;
  height: 140px;
  width: 100%;
  background-repeat: no-repeat;
  margin: 0;
  background-size: cover;
  overflow: hidden;
}

.imagenes:nth-child(1){
  background-image: url(images/mobile/image-deep-earth.jpg);
  
}
.imagenes:nth-child(2){
  background-image: url(images/mobile/image-night-arcade.jpg);
}
.imagenes:nth-child(3){
  background-image: url(images/mobile/image-soccer-team.jpg);
}
.imagenes:nth-child(4){
  background-image: url(images/mobile/image-grid.jpg) ;
}
.imagenes:nth-child(5){
  background-image: url(images/mobile/image-from-above.jpg) ;
}
.imagenes:nth-child(6){
  background-image: url(images/mobile/image-pocket-borealis.jpg) ;
}
.imagenes:nth-child(7){
  background-image: url(images/mobile/image-curiosity.jpg) ;
}
.imagenes:nth-child(8){
  background-image: url(images/mobile/image-fisheye.jpg) ;
}

/* footer */
footer{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "up"
  "middle"
  "bottom";
  
  
  background-color: black;
  height: 100%;
  width: 100%;
}
.upper{
  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem ;
  padding-bottom: 0;
}
.upper .logo{
  padding: 1rem 0;
}

  .down {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0 8.25rem;
  }
  .down .right p{
    color: hsl(0, 0%, 55%);
    text-align: center;
    width: 100%;
  }
  
  .desktop-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    
  }
  .desktop-footer li{
    padding:  0.6rem 0;
    position: relative;
    cursor: pointer;
  }
  .desktop-footer > li::after{

    content: none;

  }
  


  .desktop-footer {
    margin-left: -1rem;
  }
  
  /* footer */
}
